.ride-image {
    height: 180px;
    margin-top: 20px;
}

.ride-name {
    text-align: center;
    color: black;
}

.ride-name:hover {
    text-decoration: none !important;
}

a:-webkit-any-link {
    text-decoration: none;
}

.ride {
    background-color: aliceblue;
    margin-bottom: 20px;
}
